.moveiimg {
    height: 380px;
    min-height: 380px;
    max-height: 380px;
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute; 
    bottom: 40px; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .mainimg:hover .overlay {
    opacity: 1;
  }

  .mainimg {
    position: relative;
  }